@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

html, body{
margin: 0;
padding: 0;
}

body{
	background-color: #0f0e0e;
}

/***********Main container************/
#container{
	height: 2300px;
	width: 96%;
	margin: auto;
	background-color: #eeeeee;
}
.container1{
	width : 100%;
	height: 100px;
	margin: auto;
	background-color: #0f0e0e;
	display: flex;
}
.container1 img{
	height: 70px;
	margin: 15px 0px 15px 230px; 
}
header nav{
	float: right;
	width: 75%;
	height: 65px;
}
header nav ul{
	list-style-type: none;
	float: right;
	
}
header nav ul li{
	display: inline-block;
}
header nav ul li a{
	display: block;
	text-decoration: none;
	color: #1ac1b9;
	font-family: 'Bitter', serif;
	font-size: 18px;
	font-weight: bold;
	margin: 25px 20px;

}

/************ cover image *************/
#container .cover_img{
	height: 600px;
	width: 100%;
	background : url('img/4_coverpic.gif') no-repeat center /cover;
}

/*********** details ************/
#container .quote{
	height: 130px;
	width: 100%;
	background-color: #eeeeee;
}
#container .quote h1{
	padding-top: 30px;
	text-align: center;
	font-size: 40px;
	color: #484848;
	font-family: 'Baloo Bhaina 2', cursive;
}

/********** Main section **********/

.main{
	margin: auto;
	height: 1400px;
	width: 80%;
	background-color: white;
}
.part{
	height: 698px;
	width: 100%;
	background-color: white;
	display: flex;
}
.p1,.p2{
	height: 698px;
	width: 49.9%;
	background-color: white;
	display: inline-block;
}
.dis1{
	height: 20%;
	width: 100%;
	background-color: #fcfcfc;
}
.dis1 h1{
	font-family: 'Bitter', serif;
	text-align: center;
	margin: 40px 10px;
	font-size: 30px;
	padding:0px 60px;
}

.dis2,.dis3{
	height: 50%;
	width: 100%;
	background-color: black;
}
.i1,.i4{
	height: 80%;
	width: 100%;
	background-color: pink;
}
.i2,.i3{
	height: 50%;
	width: 100%;
	background-color: pink;
}
.i1{
	
	background : url('img/4_i4.jpg') no-repeat center /cover;
}
.i2{
	background : url('img/4_i2.gif') no-repeat center /cover;
}
.i3{
	background : url('img/4_i3.gif') no-repeat center /cover;
}
.i4{
	height: 100%;
	background : url('img/4_i1.jpg') no-repeat center /cover;
}
.dis2 ul,.dis3 ul{
	margin: 0px;
	color: white;
	padding: 50px 20px;
	font-size: 22px;
	text-align: center;
	list-style: none;
} 

/******** footer ******/
.footer{
	height: 75px;
	background-color: #0f0e0e;
}
.footer p{
	padding-top:25px;
	text-align: center;
	color: #989798;
	font-family: 'Bitter', serif;
}
.blue{
	background :none;
	font-weight: bold;
	color: #026db7;
}
